@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$font-family: 'Open Sans', sans-serif;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$base-font-size: 1rem;

$base-color: #303030;
$lighen-color: #e6e6e6;
$base-border: 1px solid #ededed;
$base-border-radius: 4px;

$darken-border: 1px solid #bfbfbf;

$primary-color: #F9ED54;